@{
    ViewData["Title"] = "Home";
}

<h2>Welcome to Knife Sharpening</h2>

<a href="/Order/Place" class="btn btn-primary">Put Order</a>
<a href="/Tracking/Index" class="btn btn-secondary">Order Tracking</a>
